<!DOCTYPE html>
<html ng-app="webKafka" ng-controller="Controller">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>{{info.name}} — WebKafka</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/roboto.css" rel="stylesheet">
    <link href="css/material.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5.js"></script>
    <![endif]-->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/json.js"></script>
    <script src="js/jquery.qtip.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/material.js"></script>
    <script src="js/controller.js"></script>
    <link href="css/styles.css" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <div class="box">
        <header class="heading">
            <div class="row">
                <div class="col-sm-3">
                    <h1>WebKafka</h1>
                </div>
                <div class="col-md-4 col-sm-4 server-name">
                    <h2>{{info.name}}</h2>
                </div>
                <div class="col-md-5 col-sm-5 server-info">
                    <ul class="nav hidden-xs nav-info">
                        <li>
                            ZooKeeper: <b>{{info.zookeeper}}</b>
                        </li>
                        <li>
                            Kafka: <b>{{info.kafka}}</b>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <button class="write writenew btn btn-default btn-fab mdi-av-playlist-add" data-newmessageto=""
                data-partitions="1">
        </button>

        <div class="row">
            <!-- sidebar -->
            <div class="column col-sm-3" id="sidebar">
                <div class="input-field">
                    <input placeholder="Topic name…" type="text" ng-model="searchText" class="form-control"
                           id="topicFilter">
                </div>
                <ul class="nav">
                    <li ng-repeat="topic in topics | orderBy:['-active','name'] | filter:searchText"
                        on-finish-render="ngRepeatFinished">
                        <a href="#Topic{{$index + 1}}" class="topicActive{{topic.active}}"><i
                                class="fa fa-bars fa-sm"></i> {{topic.name}} </a>
                    </li>
                </ul>
            </div>
            <!-- /sidebar -->

            <!-- main -->
            <div class="column col-sm-9" id="main">
                <div class="padding">
                    <div class="full col-lg-9 col-md-12">

                        <!-- content -->
                        <div class="col-sm-12" id="topics">
                            <div class="page-header">
                            </div>
                        </div>

                        <div ng-repeat="topic in topics | orderBy:['-active','name'] | filter:searchText"
                             ng-init="topicIndex = $index + 1"
                             class="list-group">

                            <div class="list-group-item" id="Topic{{$index + 1}}">
                                <div class="row-action-primary">

                                    <button class="btn btn-primary btn-fab write mdi-content-send"
                                            data-newmessageto="{{topic.name}}"
                                            data-partitions="{{topic.partitions.length}}"></button>
                                </div>
                                <div class="row-content">
                                    <div class="least-content"><span
                                            ng-if="topic.active">Active topic</span></div>
                                    <h4 class="list-group-item-heading linkTopic topicActive{{topic.active}}"
                                        id="linkTopic{{topicIndex}}"
                                        data-link="Partition{{topicIndex}}" data-count="{{topic.partitions.length}}">
                                        {{topic.name}}</h4>

                                    <div class="topic-partitions">
                                        <div id="Partition{{partition.name}}"
                                             ng-repeat="partition in topic.partitions | orderBy:['name']">
                                            <div class="list-group-item-text">
                                                {{partition.name}} partition
                                                &bull; last offset: {{partition.lastOffset.toLocaleString()}}
                                                &bull; <a href="#"
                                                          class="linkTopicPartitions linkTopicPartitions{{partition.consumers.length}}"
                                                          id="linkTopic{{topicIndex}}Partition{{partition.name}}"
                                                          data-link="Topic{{topicIndex}}Partition{{partition.name}}"
                                                          data-count="{{partition.consumers.length}}">
                                                <span ng-if="partition.consumers.length==1">{{partition.consumers.length}} consumer</span>
                                                <span ng-if="partition.consumers.length>1">{{partition.consumers.length}} consumers</span>
                                                <span ng-if="!partition.consumers.length">no consumers</span>
                                            </a>

                                                <div class="{{partition.haveMessage ? '' : 'woMessages '}}btn-group pull-right getMessagesGroup"
                                                     role="group">
                                                    <button class="btn btn-primary btn-xs updateMessages"
                                                            data-partition="{{partition.name}}"
                                                            data-topic="{{topic.name}}"
                                                            data-topic_index="{{topicIndex}}"
                                                            data-link="Topic{{topic.name}}Partition{{partition.name}}Mes"
                                                            id="update{{topicIndex}}p{{partition.name}}">
                                                        <span class="mdi-action-cached msgkey"></span>
                                                    </button>
                                                    <button class="btn btn-primary btn-xs getMessages haveMessage{{partition.haveMessage}}"
                                                            data-partition="{{partition.name}}"
                                                            data-topicId="Topic{{topicIndex}}"
                                                            data-topic="{{topic.name}}"
                                                            data-topic_index="{{topicIndex}}"
                                                            data-link="Topic{{topic.name}}Partition{{partition.name}}Mes"
                                                            data-count="{{partition.haveMessage}}">
                                                        {{partition.haveMessage ? "Get messages" : "No messages"}}
                                                    <span class="mdi-navigation-expand-more msgkey"
                                                          ng-if="partition.haveMessage"></span>
                                                    </button>
                                                </div>
                                                <div class="consumers list-group"
                                                     id="Topic{{topicIndex}}Partition{{partition.name}}">
                                                    <div class="list-group-item"
                                                         ng-repeat="consumer in partition.consumers">
                                                        <div class="row-content">
                                                            <div class="least-content"><i
                                                                    class="mdi-hardware-cast-connected msgkey"></i>
                                                                offset: {{consumer.offset.toLocaleString()}}
                                                            </div>
                                                            <h4 class="list-group-item-heading">{{consumer.name}}</h4>
                                                        </div>

                                                        <div class="list-group-separator"></div>
                                                    </div>
                                                </div>
                                                <div class="messages"
                                                     link="Topic{{topic.name}}Partition{{partition.name}}Mes"
                                                     id="Topic{{topic.name}}Partition{{partition.name}}Mes">
                                                    <div class="message"
                                                         ng-repeat="message in messages[topicIndex][partition.name].slice().reverse() | orderBy:['offset']">
                                                        <div class="message-key">
                                                            <b>#{{message.offset.toLocaleString()}}</b>
                                                        <span class="key key{{message.key}}"><i
                                                                class="mdi-communication-vpn-key msgkey"
                                                                ng-if="message.key"></i> {{message.key}}</span>
                                                            <button class="resend write msgkey mdi-content-redo"
                                                                    data-resend="true"
                                                                    data-newmessageto="{{topic.name}}"
                                                                    data-newmessagetoindex="{{topicIndex}}"
                                                                    data-newmessagetopart="{{partition.name}}"
                                                                    data-newmessagetokey="{{message.key}}"
                                                                    data-newmessagetooffset="{{message.offset}}"
                                                                    data-partitions="{{topic.partitions.length}}">
                                                            </button>
                                                        </div>
                                                        <div class="message-body toBeauty"
                                                             id="Mes{{topicIndex}}_{{partition.name}}_{{message.offset}}">
                                                            {{message.message}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-separator"></div>
                        </div>
                    </div>
                    <!-- /col-9 -->
                </div>
                <!-- /padding -->
            </div>
            <!-- /main -->

        </div>
    </div>
</div>
<div id="modal" class="white-popup mfp-hide">
    <form class="form-horizontal" id="sendmessageform">

        <input type="hidden" id="sendmessagepartition" value="" name="partition"/>
        <input type="hidden" id="sendmessagetopichidden" value="" name="topic"/>
        <fieldset>

            <legend id="newMessageTo">New message to</legend>
            <div class="form-group">
                <label class="col-md-2 control-label" for="sendmessagetopic">Topic</label>

                <div class="col-md-10">
                    <div class="input-group inp-group2" id="sendmessagegroup">
                        <span class="input-group-addon"><i class="mdi-communication-textsms msgkey"></i></span>
                        <input id="sendmessagetopic" class="form-control" placeholder="Message topic…" type="text">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="prependedtext">Key</label>

                <div class="col-md-10">
                    <div class="input-group inp-group2">
                        <span class="input-group-addon"><i class="mdi-communication-vpn-key msgkey"></i></span>
                        <input id="prependedtext" name="key" class="form-control" placeholder="Message key…"
                               type="text">

                        <div class="input-group-btn" id="partition-choose">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span id="displaypartition">Partition 0</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" id="sendmessagepartitionlist">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="sendmessagetext">Message</label>

                <div class="col-md-10">
                    <div class="inp-group2">
                    <textarea rows="12" class="form-control" id="sendmessagetext" name="message"
                              placeholder="Type message here…"></textarea>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="sendmessagevalidate">Options</label>

                <div class="col-md-10">
                    <label class="checkbox-inline" for="sendmessagevalidate">
                        <input type="checkbox" id="sendmessagevalidate" value="false">
                        Validate JSON before send
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="sendmessagebutton" id="sendmessagestatus"></label>

                <div class="col-md-8">
                    <button id="sendmessagebutton" class="btn btn-primary"><i class="fa fa-paper-plane"></i> Send
                        message
                    </button>
                </div>
            </div>
            <div id="jsonArea" class="mfp-hide"></div>
        </fieldset>
    </form>

</div>
</body>
</html>