@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('Open Sans-Regular'), local('OpenSans-Regular'), url(../fonts/OpenSans-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('Open Sans-Light'), local('OpenSans-Light'), url(../fonts/OpenSans-Light.woff2) format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('Open Sans-Bold'), local('OpenSans-Bold'), url(../fonts/OpenSans-Bold.woff2) format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    src: local('RobotoDraft Italic'), local('Open Sans-Italic'), local('OpenSans-Italic'), url(../fonts/OpenSans-LightItalic.woff2) format('woff2');
}