@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700');

html, body {
    height: 100%;
    font-family: 'Open Sans', arial, sans-serif;
}

a {
    color: #222222;
}

.consumersUl {
    margin: 0;
    list-style: none;
    padding: 0;
}

.key0 {
    display: none;
}

.key {
    margin-left: 1em;
}

.label-bg0 {
    background-color: #dddddd;
}

.nav-info {
    text-align: right;
    padding-right: 20px;
}

a:hover, a:active, a:link {
    text-decoration: none;
}

.nav li a {
    padding: 10px 20px;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #ddd;
}

button.write {
}

.linkTopicPartitions:not(.linkTopicPartitions0) {
    border-bottom: dashed 1px #eee;
}

.linkTopicPartitions0 {
    cursor: default;
}

.topic-partitions div button.btn.btn-xs {
    margin: 0;
    padding: 2px 15px;
}

.topic-partitions div {
    margin-bottom: 5px;
}

button.writenew {
    position: absolute;
    top: 75px;
    right: 20%;
    z-index: 100;
    background-color: #FF4081 !important;
    color: white !important;
}

button.white:hover {
    background-color: #C2185B !important;
}

.wrapper, .row {
    height: 100%;
    margin-left: 0;
    margin-right: 0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.partitions {
    padding: 10px;
    margin-top: -25px;
}

.partition {
    margin-top: 15px;
}

.topic:hover {
    background-color: #EEE;
}

.text-muted {
    color: #AAA;
}

.wrapper:after,
.column:after {
    clear: both;
}

.column {
    padding: 0;
    height: 100%;
    overflow: auto;
    *zoom: 1;
}

.column .padding {
    padding: 20px;
}

.consumers, .partitions {
    display: none;
}

.messages {
    display: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 5px;
    background: white;
}

.partition h4 {
    margin-bottom: 25px;
}

.popover {
    min-width: 330px;
}

.consumersUl {
    font-size: 14px;
    line-height: 1.2;
}

.topic h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#main {
    background-color: #fefefe;
    padding-top: 35px;
}

#main .img-circle {
    margin-top: 18px;
    height: 70px;
    width: 70px;
}

#footer {
    margin-bottom: 20px;
}

/* center and adjust the sidebar contents on smaller devices */
@media (max-width: 768px) {
}

.fa-ul {
    margin: 0;
    margin-left: 1em;
}

/* bootstrap overrides */

h1, h2, h3 {
    font-family: 'Open Sans', arial, sans-serif;
}

.label-default {
    background-color: #dddddd;
}

#sendmessagestatus {
    text-align: right;
}

.bg-warning {
    background-color: #fcf8e3;
}

.red {
    color: #AB4A4A;
}

.green {
    color: #4AAB4F;
}

.nobotommargin {
    margin-bottom: 0;
}

.bg-success {
    background-color: #dff0d8;
}

/* modal */
/* Magnific Popup CSS */
.mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: #0b0b0b;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.mfp-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1043;
    position: fixed;
    outline: none !important;
    -webkit-backface-visibility: hidden;
}

.mfp-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mfp-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
    display: none;
}

.mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045;
}

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
    width: 100%;
    cursor: auto;
}

.mfp-ajax-cur {
    cursor: progress;
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}

.mfp-zoom {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
    cursor: auto;
}

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.heading {
    padding: 30px 35px;
    background: #009688;
    color: #ffffff;
    position: relative;
    z-index: 10;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.heading h1, .heading h2, .heading h3 {
    margin: 0;
}

.server-info {
    color: rgba(255, 255, 255, 0.7);
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 600px;
    margin: 20px auto;
}

.mfp-loading.mfp-figure {
    display: none;
}

.mfp-hide {
    display: none !important;
}

.mfp-preloader {
    color: #CCC;
    position: absolute;
    top: 50%;
    width: auto;
    text-align: center;
    margin-top: -0.8em;
    left: 8px;
    right: 8px;
    z-index: 1044;
}

.mfp-preloader a {
    color: #CCC;
}

.mfp-preloader a:hover {
    color: #FFF;
}

.mfp-s-ready .mfp-preloader {
    display: none;
}

.mfp-s-error .mfp-content {
    display: none;
}

button.mfp-close, button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: none;
    padding: 0;
    z-index: 1046;
    -webkit-box-shadow: none;
    box-shadow: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.mfp-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    opacity: 0.65;
    filter: alpha(opacity=65);
    padding: 0 0 18px 10px;
    color: #FFF;
    font-style: normal;
    font-size: 28px;
    font-family: Arial, Baskerville, monospace;
}

.mfp-close:hover, .mfp-close:focus {
    opacity: 1;
    filter: alpha(opacity=100);
}

.mfp-close:active {
    top: 1px;
}

.mfp-close-btn-in .mfp-close {
    color: #333;
}

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
    color: #FFF;
    right: -6px;
    text-align: right;
    padding-right: 6px;
    width: 100%;
}

.mfp-counter {
    position: absolute;
    top: 0;
    right: 0;
    color: #CCC;
    font-size: 12px;
    line-height: 18px;
    white-space: nowrap;
}

.mfp-arrow {
    position: absolute;
    opacity: 0.65;
    filter: alpha(opacity=65);
    margin: 0;
    top: 50%;
    margin-top: -55px;
    padding: 0;
    width: 90px;
    height: 110px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.mfp-arrow:active {
    margin-top: -54px;
}

.mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1;
    filter: alpha(opacity=100);
}

.mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent;
}

.mfp-arrow:after, .mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px;
}

.mfp-arrow:before, .mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7;
}

.mfp-arrow-left {
    left: 0;
}

.mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
    border-right: 17px solid #FFF;
    margin-left: 31px;
}

.mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F;
}

.mfp-arrow-right {
    right: 0;
}

.mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
    border-left: 17px solid #FFF;
    margin-left: 39px;
}

.mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3F3F3F;
}

.mfp-iframe-holder {
    padding-top: 40px;
    padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px;
}

.mfp-iframe-holder .mfp-close {
    top: -40px;
}

.mfp-iframe-scaler {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000;
}

/* Main image in popup */
img.mfp-img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    line-height: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 0 40px;
    margin: 0 auto;
}

/* The shadow behind the image */
.mfp-figure {
    line-height: 0;
}

.mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444;
}

.mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px;
}

.mfp-figure figure {
    margin: 0;
}

.mfp-bottom-bar {
    margin-top: -36px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    cursor: auto;
}

.mfp-title {
    text-align: left;
    line-height: 18px;
    color: #F3F3F3;
    word-wrap: break-word;
    padding-right: 36px;
}

.mfp-image-holder .mfp-content {
    max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
    cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
    /**
         * Remove all paddings around the image on small screen
         */
    .mfp-img-mobile .mfp-image-holder {
        padding-left: 0;
        padding-right: 0;
    }

    .mfp-img-mobile img.mfp-img {
        padding: 0;
    }

    .mfp-img-mobile .mfp-figure:after {
        top: 0;
        bottom: 0;
    }

    .mfp-img-mobile .mfp-figure small {
        display: inline;
        margin-left: 5px;
    }

    .mfp-img-mobile .mfp-bottom-bar {
        background: rgba(0, 0, 0, 0.6);
        bottom: 0;
        margin: 0;
        top: auto;
        padding: 3px 5px;
        position: fixed;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .mfp-img-mobile .mfp-bottom-bar:empty {
        padding: 0;
    }

    .mfp-img-mobile .mfp-counter {
        right: 5px;
        top: 3px;
    }

    .mfp-img-mobile .mfp-close {
        top: 0;
        right: 0;
        width: 35px;
        height: 35px;
        line-height: 35px;
        background: rgba(0, 0, 0, 0.6);
        position: fixed;
        text-align: center;
        padding: 0;
    }
}

@media all and (max-width: 900px) {
    .mfp-arrow {
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }

    .mfp-arrow-left {
        -webkit-transform-origin: 0;
        transform-origin: 0;
    }

    .mfp-arrow-right {
        -webkit-transform-origin: 100%;
        transform-origin: 100%;
    }

    .mfp-container {
        padding-left: 6px;
        padding-right: 6px;
    }
}

.mfp-ie7 .mfp-img {
    padding: 0;
}

.mfp-ie7 .mfp-bottom-bar {
    width: 600px;
    left: 50%;
    margin-left: -300px;
    margin-top: 5px;
    padding-bottom: 5px;
}

.mfp-ie7 .mfp-container {
    padding: 0;
}

.mfp-ie7 .mfp-content {
    padding-top: 44px;
}

.mfp-ie7 .mfp-close {
    top: 0;
    right: 0;
    padding-top: 0;
}

.messages0 {
    display: none;
}

.label-0 {
    background-color: #dddddd;
}

.btns {
    float: right;
}

button.btn-xs.btn.haveMessagefalse, .btn-0 {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.msgkey {
    font-size: 13px;
}

.message {
    word-wrap: break-word;
    border: 1px solid #f0f0f0;
    background: #F8f8f8;
    border-radius: 7px;
}

.message-key {
    border-bottom: 1px solid #f0f0f0;
    background: #F5f5f5;
    padding: 5px 10px;
}

.beautifully {
    float: right
}

.message-body {
    clear: both;
    margin-top: 5px;
    padding-left: 20px;
}

/* Syntax highlighting for JSON objects */
ul.json-dict, ol.json-array {
    list-style-type: none;
    margin: 0 0 0 1px;
    border-left: 1px dotted #ccc;
    padding-left: 1em;
}

.json-string {
    color: #009688;
}

.json-literal {
    color: #009688;
}

/* Toggle button */
a.json-toggle {
    position: relative;
    color: inherit;
    text-decoration: none;
}

a.json-toggle:focus {
    outline: none;
}

a.json-toggle:before {
    color: #aaa;
    content: "\25BC"; /* down arrow */
    position: absolute;
    display: inline-block;
    width: 1em;
    left: -1em;
}

a.json-toggle.collapsed:before {
    content: "\25B6"; /* left arrow */
}

/* Collapsable placeholder links */
a.json-placeholder {
    color: #aaa;
    padding: 0 1em;
    text-decoration: none;
}

a.json-placeholder:hover {
    text-decoration: underline;
}

/*
 * qTip2 - Pretty powerful tooltips - v2.2.1
 * http://qtip2.com
 *
 * Copyright (c) 2014 
 * Released under the MIT licenses
 * http://jquery.org/license
 *
 * Date: Sun Sep 7 2014 10:41 EDT-0400
 * Plugins: viewport
 * Styles: core css3
 */
.qtip {
    position: absolute;
    left: -28000px;
    top: -28000px;
    display: none;
    min-width: 50px;
    line-height: 12px;
    direction: ltr;
    box-shadow: none;
    padding: 0;
}

.getMessageGroup {
    top: -2px;
}

.updateMessages {
    display: none;
}

.list-group-item-text {
    line-height: 1.5;
}

.btn-group {
    margin: 0;
}

.qtip-content {
    position: relative;
    padding: 5px 9px;
    overflow: hidden;

    text-align: left;
    word-wrap: break-word;
}

.qtip-titlebar {
    position: relative;
    padding: 5px 35px 5px 10px;
    overflow: hidden;

    border-width: 0 0 1px;
    font-weight: bold;
}

.qtip-titlebar + .qtip-content {
    border-top-width: 0 !important;
}

/* Default close button class */
.qtip-close {
    position: absolute;
    right: -9px;
    top: -9px;
    z-index: 11; /* Overlap .qtip-tip */

    cursor: pointer;
    outline: medium none;

    border: 1px solid transparent;
}

.qtip-titlebar .qtip-close {
    right: 4px;
    top: 50%;
    margin-top: -9px;
}

* html .qtip-titlebar .qtip-close {
    top: 16px;
}

/* IE fix */

.qtip-titlebar .ui-icon,
.qtip-icon .ui-icon {
    display: block;
    text-indent: -1000em;
    direction: ltr;
}

.qtip-icon, .qtip-icon .ui-icon {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
}

.qtip-icon .ui-icon {
    width: 18px;
    height: 14px;

    line-height: 14px;
    text-align: center;
    text-indent: 0;

    color: inherit;
    background: transparent none no-repeat -100em -100em;
}

/* Applied to 'focused' tooltips e.g. most recently displayed/interacted with */
.qtip-focus {
}

/* Applied on hover of tooltips i.e. added/removed on mouseenter/mouseleave respectively */
.qtip-hover {
}

/* Default tooltip style */
.qtip-default {
    background-color: #FFFFA3;
}

.qtip-default .qtip-titlebar {
    background-color: #FFEF93;
}

.qtip-default .qtip-icon {
    border-color: #CCC;
    background: #F1F1F1;
    color: #777;
}

.qtip-default .qtip-titlebar .qtip-close {
    border-color: #AAA;
    color: #111;
}

/* Add rounded corners to your tooltips in: FF3+, Chrome 2+, Opera 10.6+, IE9+, Safari 2+ */
.qtip-rounded,
.qtip-tipsy,
.qtip-bootstrap {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.qtip-rounded .qtip-titlebar {
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

/* Youtube tooltip style */
.qtip-youtube {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;

    -webkit-box-shadow: 0 0 3px #333;
    -moz-box-shadow: 0 0 3px #333;
    box-shadow: 0 0 3px #333;

    color: white;
    border: 0 solid transparent;

    background: #4A4A4A;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4A4A4A), color-stop(100%, black));
    background-image: -webkit-linear-gradient(top, #4A4A4A 0, black 100%);
    background-image: -moz-linear-gradient(top, #4A4A4A 0, black 100%);
    background-image: -ms-linear-gradient(top, #4A4A4A 0, black 100%);
    background-image: -o-linear-gradient(top, #4A4A4A 0, black 100%);
}

.qtip-youtube .qtip-titlebar {
    background-color: #4A4A4A;
    background-color: rgba(0, 0, 0, 0);
}

.qtip-youtube .qtip-content {
    padding: .75em;
    font: 12px arial, sans-serif;

    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#4a4a4a, EndColorStr=#000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#4a4a4a,EndColorStr=#000000);";
}

.qtip-youtube .qtip-icon {
    border-color: #222;
}

.qtip-youtube .qtip-titlebar .ui-state-hover {
    border-color: #303030;
}

/* jQuery TOOLS Tooltip style */
.qtip-jtools {
    background: #232323;
    background: rgba(0, 0, 0, 0.7);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#717171), to(#232323));
    background-image: -moz-linear-gradient(top, #717171, #232323);
    background-image: -webkit-linear-gradient(top, #717171, #232323);
    background-image: -ms-linear-gradient(top, #717171, #232323);
    background-image: -o-linear-gradient(top, #717171, #232323);

    border: 2px solid #ddd;

    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;

    -webkit-box-shadow: 0 0 12px #333;
    -moz-box-shadow: 0 0 12px #333;
    box-shadow: 0 0 12px #333;
}

/* IE Specific */
.qtip-jtools .qtip-titlebar {
    background-color: transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#717171, endColorstr=#4A4A4A);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#717171,endColorstr=#4A4A4A)";
}

.qtip-jtools .qtip-content {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4A4A4A, endColorstr=#232323);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4A4A4A,endColorstr=#232323)";
}

.qtip-jtools .qtip-titlebar,
.qtip-jtools .qtip-content {
    background: transparent;
    color: white;
    border: 0 dashed transparent;
}

.qtip-jtools .qtip-icon {
    border-color: #555;
}

.qtip-jtools .qtip-titlebar .ui-state-hover {
    border-color: #333;
}

/* Cluetip style */
.qtip-cluetip {
    -webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);

    background-color: #D9D9C2;
    color: #111;
    border: 0 dashed transparent;
}

.qtip-cluetip .qtip-titlebar {
    background-color: #87876A;
    color: white;
    border: 0 dashed transparent;
}

.qtip-cluetip .qtip-icon {
    border-color: #808064;
}

.qtip-cluetip .qtip-titlebar .ui-state-hover {
    border-color: #696952;
    color: #696952;
}

/* Tipsy style */
.qtip-tipsy {
    background: black;
    background: rgba(0, 0, 0, .87);

    color: white;
    border: 0 solid transparent;

    font-size: 11px;
    font-family: 'Lucida Grande', sans-serif;
    font-weight: bold;
    line-height: 16px;
    text-shadow: 0 1px black;
}

.qtip-tipsy .qtip-titlebar {
    padding: 6px 35px 0 10px;
    background-color: transparent;
}

.qtip-tipsy .qtip-content {
    padding: 6px 10px;
}

.qtip-tipsy .qtip-icon {
    border-color: #222;
    text-shadow: none;
}

.qtip-tipsy .qtip-titlebar .ui-state-hover {
    border-color: #303030;
}

/* Tipped style */
.qtip-tipped {
    border: 3px solid #959FA9;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    background-color: #F9F9F9;
    color: #454545;

    font-weight: normal;
    font-family: serif;
}

.qtip-tipped .qtip-titlebar {
    border-bottom-width: 0;

    color: white;
    background: #3A79B8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3A79B8), to(#2E629D));
    background-image: -webkit-linear-gradient(top, #3A79B8, #2E629D);
    background-image: -moz-linear-gradient(top, #3A79B8, #2E629D);
    background-image: -ms-linear-gradient(top, #3A79B8, #2E629D);
    background-image: -o-linear-gradient(top, #3A79B8, #2E629D);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3A79B8, endColorstr=#2E629D);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#3A79B8,endColorstr=#2E629D)";
}

.qtip-tipped .qtip-icon {
    border: 2px solid #285589;
    background: #285589;
}

.qtip-tipped .qtip-icon .ui-icon {
    background-color: #FBFBFB;
    color: #555;
}

.qtip-bootstrap {
    /** Taken from Bootstrap body */
    font-size: 14px;
    line-height: 20px;
    color: #333333;

    /** Taken from Bootstrap .popover */
    padding: 1px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.qtip-bootstrap .qtip-titlebar {
    /** Taken from Bootstrap .popover-title */
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.qtip-bootstrap .qtip-titlebar .qtip-close {
    /**
     * Overrides qTip2:
     * .qtip-titlebar .qtip-close{
     *   [...]
     *   right: 4px;
     *   top: 50%;
     *   [...]
     *   border-style: solid;
     * }
     */
    right: 11px;
    top: 45%;
    border-style: none;
}

.qtip-bootstrap .qtip-content {
    /** Taken from Bootstrap .popover-content */
    padding: 9px 14px;
}

.qtip-bootstrap .qtip-icon {
    /**
     * Overrides qTip2:
     * .qtip-default .qtip-icon {
     *   border-color: #CCC;
     *   background: #F1F1F1;
     *   color: #777;
     * }
     */
    background: transparent;
}

.qtip-bootstrap .qtip-icon .ui-icon {
    /**
     * Overrides qTip2:
     * .qtip-icon .ui-icon{
     *   width: 18px;
     *   height: 14px;
     * }
     */
    width: auto;
    height: auto;

    /* Taken from Bootstrap .close */
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.qtip-bootstrap .qtip-icon .ui-icon:hover {
    /* Taken from Bootstrap .close:hover */
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

/* IE9 fix - removes all filters */
.qtip:not(.ie9haxors) div.qtip-content,
.qtip:not(.ie9haxors) div.qtip-titlebar {
    filter: none;
    -ms-filter: none;
}

.inp-group2 {
    background: #f5f5f5;
    padding: 5px 9px;
    border-radius: 4px;
}

.form-control2 {
    background: none;
}

#topicFilter {
    padding: 25px 10px;
}

pre {
    border: 1px solid #eee;
}

.woMessages {
    box-shadow: none;
    transition: none;
}

.woMessages:hover {
    box-shadow: none;
    transition: none;
    background: none;
}

.resend {
    background: none;
    border: none;
    float: right;
    display: none;
}